/* ==========================================================================
Cart Power Dssign
========================================================================== */

.my_block img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-size: 0;
    width: 179px;
    height: 179px;
    opacity: 0px;
}

.my_block .ty-grid-list__image {
    position: relative;
    padding: 18px 0;
    border: 1px solid #ebebeb;
    background: #fff;
    text-align: center;
    min-height: 50px;
    width: 280px;
    height: 208px;
    /* top: 1006px; */
    /* left: 364px; */
    /* gap: 0px; */
    border-radius: 19.96px;
    
}    

.tygh-content > div {
    background-color: #fff;
    max-width: 1200px;
}

.ty-grid-list__control .ty-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #006FE7;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    /* border-radius: 5px; */
    /* top: 1769px; */
    left: 665px;
    /* padding: 17px 131px 17px 131px; */
    gap: 10px;
    border-radius: 16px;
    opacity: 0px;
}

.ty-btn__secondary {
    
    color: #8296e7;
}




/* /Cart Power Dssign */